<div class="topofmappage">
	<div class="back-link"><%= link_to "Back to Home", '/' %></div>
	<h3 id="wheretodiscover">Where would you like to discover?</h3>
	</div>

	<div id="map"></div>
		
	<%= render "map" %>
